.tooltip-ticket {
    position: fixed;
    background-color: #333;
    display: none;
    padding: 10px 15px;
    color: white;
    font-size: 0.9em;
    border-radius: 3px;
    z-index: 11;
}

.purchased {
    fill: #000;
    background-color: #000;
}

.me.purchased {
    fill: #80FDE1;
    background-color: #80FDE1;
}

.purchased, [data-price] {
    /*opacity: 1 !important;*/
}
[data-free]{
    opacity: 0.7 !important;
}

[data-free=false], .purchased {
    opacity: 1 !important;
}

.purchased[data-free=false]{
    opacity: 0.1 !important;
}

#map {
    text-align: center;
    background-color: #fff;
    border: 1px dashed #666;
    padding: 30px 0;
    position: relative;
    cursor: pointer;
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 100%;
}

#map svg{
    position: relative;
    z-index: 9;
    left: 0;
    top: 0;
}

.jumbotron  {
    /*padding-top: 20px !important;*/
}

.jumbotron h2 {
    margin-top: 0;
    text-align: left;
}

.jumbotron .navigation {
    padding-top: 10px;
}

.zoom {
    padding: 10px;
    position: absolute;
    left: 30px;
    color: #ffffff;
    background-color: #337ab7;
    text-decoration: none;
    border-radius: 4px;
    z-index: 10;
}

.zoom:hover {
    text-decoration: none;
    background-color: #23527c;
    color: #ffffff;
}

.zoom.plus {
    top: 30px;
}

.zoom.minus {
    top: 80px;
}

.event-image img {
    max-width: 100%;
}

.row.event-short-container {
    margin-bottom: 30px;
}

.event-short-container {
    border-bottom: 1px dashed #999;
    padding-bottom: 5px;
}

div form.form-inline.uid input {
    width: 70px;
    text-align: center;
}

ul.colors {
    float: left;
    padding: 0;
    margin: 0;
}

ul.colors, ul.colors li {
    list-style: none;
    overflow: hidden;
    height: 20px;
}

ul.colors li {
    float: left;
    margin-right: 10px;
    line-height: 20px;
}

ul.colors li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.row.event-short-container:last-child {
    border-bottom: 0;
}